---
import Layout from "../../../layouts/Layout.astro";
import "../../../styles/global.css";
import Form from "../../../components/Form.astro";
---

<Layout>
  <div class="grid place-content-center">
    <div class="w-[60vw] h-screen p-20">
      <h1 class="text-4xl font-bold mb-10 text-yellow-400 font-mono">
        Actualizar Articulo
      </h1>
      <Form id={parseInt(Astro.params.id?.toString() || "")} />
    </div>
  </div>
</Layout>
